<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.famcybox.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header class="header">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">1 сезон</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">2 сезон</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">3 сезон</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">4 сезон</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">5 сезон</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="#">6 сезон</a>
            </li>

        </ul>
    </nav>
        <div class="logo">
            <img class="logo__img" src="images/logo.img" alt="логотип">
        </div>
    </header>




    <script src="#"></script>
    <script src="static/js/slick.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>